* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

.promo__line {
  width: 100%;
  height: 40px;
  background: #9079a1;
}
@media (max-width: 768px) {
  .promo__line {
    display: none;
  }
}

.promo {
  position: relative;
  height: 100%;
  padding-bottom: 35px;
}
@media (max-width: 1420px) {
  .promo {
    padding-bottom: 75px;
  }
}
@media (max-width: 1023px) {
  .promo::after {
    content: "";
    background: url("../img/promo-img.jpeg") center/cover no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
@media (max-width: 767px) {
  .promo::after {
    content: "";
    background: url("../img/promo-img.jpeg") center/cover no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
  }
}
.promo .wrapper {
  width: 1100px;
  margin: 0 auto;
}
@media (max-width: 1420px) {
  .promo .wrapper {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .promo .wrapper {
    display: block;
    margin: 0 auto;
  }
}
.promo__title {
  font-size: 36px;
  text-align: center;
  padding-bottom: 70px;
  color: #7e1e7e;
}
@media (max-width: 1420px) {
  .promo__title {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 1023px) {
  .promo__title {
    padding-top: 0;
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  .promo__title {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
  }
}
.promo hr {
  width: 500px;
  height: 2px;
  background: #7e1e7e;
  margin: 0 auto 40px;
}
@media (max-width: 767px) {
  .promo hr {
    width: 70%;
    margin-bottom: 20px;
  }
}
.promo .promo__interest {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  margin-bottom: 30px;
}
@media (max-width: 1420px) {
  .promo .promo__interest {
    padding-top: 0;
    margin-bottom: 17px;
  }
}
@media (max-width: 1420px) {
  .promo .promo__interest {
    padding: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .promo .promo__interest {
    flex-direction: column;
    align-items: center;
  }
}
.promo .promo__interest .promo__img {
  width: 25%;
  height: 20%;
  margin-left: 70px;
}
.promo .promo__interest .promo__img:hover {
  animation: change-color 2s infinite alternate;
}
@media (max-width: 1420px) {
  .promo .promo__interest .promo__img {
    width: 20%;
    margin-top: 20px;
  }
}
@media (max-width: 1023px) {
  .promo .promo__interest .promo__img {
    margin-left: 50px;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .promo .promo__interest .promo__img {
    width: 25%;
    margin: 20px 0;
  }
}
.promo .promo__interest .promo__features {
  font-size: 16px;
  max-width: 550px;
  margin-top: 20px;
  margin-right: 40px;
}
@media (max-width: 1420px) {
  .promo .promo__interest .promo__features {
    width: 450px;
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  .promo .promo__interest .promo__features {
    margin-left: 80px;
  }
}
@media (max-width: 767px) {
  .promo .promo__interest .promo__features {
    width: 80%;
    font-size: 12px;
    margin: 0 auto;
  }
}
.promo .promo__interest .promo__features li {
  margin-bottom: 20px;
  list-style: none;
  line-height: 20px;
}
.promo .promo__interest .promo__features .promo__link {
  display: block;
  width: 170px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #7e1e7e;
  text-decoration: none;
  text-transform: uppercase;
  color: #7e1e7e;
  margin: 0 auto;
  text-align: center;
  background: none;
  transition: 0.3s;
  margin-top: 65px;
}
.promo .promo__interest .promo__features .promo__link:hover {
  background: #7e1e7e;
  color: #fff;
  transform: scale(1.06);
}
@media (max-width: 1420px) {
  .promo .promo__interest .promo__features .promo__link {
    margin-top: 35px;
  }
}
@media (max-width: 1023px) {
  .promo .promo__interest .promo__features .promo__link {
    margin-left: 0;
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .promo .promo__interest .promo__features .promo__link {
    margin: 50px auto 0;
  }
}

.promo__video {
  overflow: hidden;
  position: absolute;
  top: 41%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -38%);
  opacity: 0.5;
  z-index: -1;
}
@media (max-width: 1420px) {
  .promo__video {
    overflow: hidden;
    top: 50%;
    left: 28%;
    width: 144%;
    transform: translate(-50%, -53%);
  }
}
@media (max-width: 1023px) {
  .promo__video {
    display: none;
  }
}

.consist {
  background: url("../img/bg_consist.jpeg") center/cover no-repeat;
  height: 100%;
  padding: 100px 0;
}
@media (max-width: 1023px) {
  .consist {
    padding: 60px 0;
  }
}
.consist .wrapper {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}
@media (max-width: 1420px) {
  .consist .wrapper {
    width: 90%;
  }
}
@media (max-width: 1023px) {
  .consist .wrapper {
    width: 90%;
  }
}
@media (max-width: 747px) {
  .consist .wrapper {
    padding-bottom: 40px;
  }
}
.consist__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 767px) {
  .consist__wrap {
    flex-direction: column;
    align-items: center;
  }
}
.consist .consist__item {
  margin-bottom: 51px;
}
.consist__img {
  width: 120px;
  height: 120px;
  border-radius: 51%;
  list-style: none;
  margin: 0 auto 20px;
  box-shadow: 4px 2px 65px 17px rgba(34, 60, 80, 0.3);
}
@media (max-width: 1023px) {
  .consist__img {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 767px) {
  .consist__img {
    width: 110px;
    height: 110px;
  }
}
.consist__img-1 {
  background: url("../img/img_1.png") center;
}
.consist__img-2 {
  background: url("../img/img_2.png") center;
}
.consist__img-3 {
  background: url("../img/img_3.png") center;
}
.consist__img-4 {
  background: url("../img/img_4.png") center;
}
.consist__img-5 {
  background: url("../img/img_5.png") center;
}
.consist__img-6 {
  background: url("../img/img_6.png") center;
}
.consist__text {
  width: 250px;
  font-size: 16px;
  line-height: 27px;
  list-style: none;
  text-align: center;
}
@media (max-width: 1023px) {
  .consist__text {
    font-size: 14px;
    width: 150px;
  }
}
@media (max-width: 1023px) {
  .consist__text {
    width: 200px;
    line-height: 24px;
  }
}
.consist .consist__photo {
  width: 80%;
  display: block;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .consist .consist__photo {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .consist .consist__photo {
    display: none;
  }
}
.consist__link {
  display: block;
  width: 170px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #7e1e7e;
  text-decoration: none;
  text-transform: uppercase;
  color: #7e1e7e;
  margin: 0 auto;
  text-align: center;
  background: none;
  transition: 0.3s;
}
.consist__link:hover {
  background: #7e1e7e;
  color: #fff;
  transform: scale(1.06);
}

.reviews {
  background: #53354a;
  overflow: hidden;
}

.review {
  background: url("../img/background_slider.jpeg") center/cover no-repeat;
  padding-top: 150px;
  padding-bottom: 100px;
}
@media (max-width: 1420px) {
  .review {
    padding-bottom: 120px;
  }
}
@media (max-width: 1023px) {
  .review {
    padding-top: 80px;
    padding-bottom: 110px;
  }
}
@media (max-width: 767px) {
  .review {
    padding-bottom: 250px;
  }
}
.review .slider-container {
  position: relative;
  margin: 0 auto;
  width: 40%;
  height: 0;
  padding-bottom: 40%;
}
@media (max-width: 767px) {
  .review .slider-container {
    width: 90%;
    padding-bottom: 80px;
  }
}
@media (max-width: 426px) {
  .review .slider-container {
    padding-bottom: 50px;
  }
}
.review .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .review .slider {
    width: 80%;
    left: 22%;
    margin-top: -25px;
  }
}
.review .slider img {
  width: 100%;
  margin-bottom: 60px;
}
@media (max-width: 1023px) {
  .review .slider img {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .review .slider img {
    width: 70%;
    margin-bottom: 10px;
  }
}
.review .slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #7e1e7e;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 1023px) {
  .review .slider__title {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .review .slider__title {
    font-size: 18px;
    font-weight: 400;
    margin-right: 30%;
  }
}
.review .slider__text {
  text-align: center;
  line-height: 27px;
}
@media (max-width: 1023px) {
  .review .slider__text {
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .review .slider__text {
    font-size: 12px;
    line-height: 16px;
    margin-right: 30%;
  }
}
.review .slide__img {
  display: none;
}
.review #arrow_next label {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  visibility: hidden;
  cursor: pointer;
  top: 23%;
  font-size: 30px;
  right: -80px;
}
.review #arrow_next label:active {
  color: #7e1e7e;
}
@media (max-width: 427px) {
  .review #arrow_next label {
    right: 30px;
  }
}
.review #arrow_prev label {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  visibility: hidden;
  cursor: pointer;
  top: 23%;
  font-size: 30px;
  left: -80px;
}
.review #arrow_prev label:active {
  color: #7e1e7e;
}
@media (max-width: 427px) {
  .review #arrow_prev label {
    left: 30px;
  }
}
.review .switchers {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  text-align: center;
}
@media (max-width: 1420px) {
  .review .switchers {
    bottom: -80px;
  }
}
@media (max-width: 767px) {
  .review .switchers {
    top: 170%;
  }
}
.review .switcher {
  background: rgba(0, 0, 0, 0.7);
  width: 15px;
  height: 15px;
  position: relative;
  top: 7px;
  margin: 0 4px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .review .switcher {
    top: 0;
  }
}
@media (max-width: 767px) {
  .review .switcher {
    top: 155px;
  }
}
.review #img_1:checked ~ #first, .review #img_2:checked ~ #second, .review #img_3:checked ~ #third {
  visibility: visible;
  opacity: 1;
}
.review #img_1:checked ~ div #switcher1, .review #img_2:checked ~ div #switcher2, .review #img_3:checked ~ div #switcher3 {
  background: #7e1e7e;
}
.review #img_1:checked ~ #arrow_next label:nth-child(2), .review #img_2:checked ~ #arrow_next label:nth-child(3), .review #img_3:checked ~ #arrow_next label:nth-child(1), .review #img_1:checked ~ #arrow_prev label:nth-child(3), .review #img_2:checked ~ #arrow_prev label:nth-child(1), .review #img_3:checked ~ #arrow_prev label:nth-child(2) {
  visibility: visible;
}

.promotion {
  position: relative;
  padding: 80px 0;
}
.promotion:before {
  content: "";
  background: url("../img/promotion-bg.png") center/cover no-repeat;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
@media (max-width: 1023px) {
  .promotion {
    padding: 50px 0;
  }
}
.promotion__wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px;
}
.promotion__wrap .promotion__product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media (max-width: 1023px) {
  .promotion__wrap .promotion__product {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 1420px) {
  .promotion__wrap .promotion__product .promotion__img {
    width: 50%;
    height: 20%;
  }
}
@media (max-width: 1023px) {
  .promotion__wrap .promotion__product .promotion__img {
    margin: 0 auto 30px;
  }
}
@media (max-width: 767px) {
  .promotion__wrap .promotion__product .promotion__img {
    width: 50%;
    margin-bottom: 0;
  }
}
.promotion__wrap .promotion__product .promotion__descr {
  margin: 60px 0 0 30px;
  width: 500px;
}
@media (max-width: 1420px) {
  .promotion__wrap .promotion__product .promotion__descr {
    margin-top: 110px;
  }
}
@media (max-width: 1023px) {
  .promotion__wrap .promotion__product .promotion__descr {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .promotion__wrap .promotion__product .promotion__descr {
    width: 90%;
    margin: 20px auto 0;
  }
}
.promotion__wrap .promotion__product .promotion__descr p {
  line-height: 25px;
  margin-left: 60px;
  margin-bottom: 30px;
}
@media (max-width: 1420px) {
  .promotion__wrap .promotion__product .promotion__descr p {
    font-size: 14px;
    margin-left: 30px;
  }
}
@media (max-width: 1023px) {
  .promotion__wrap .promotion__product .promotion__descr p {
    line-height: 24px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .promotion__wrap .promotion__product .promotion__descr p {
    font-size: 12px;
    line-height: 18px;
    margin: 20px 0;
  }
}
.promotion__wrap .promotion__special {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 70px;
}
@media (max-width: 1420px) {
  .promotion__wrap .promotion__special {
    font-weight: 400;
    font-size: 14px;
  }
}
@media (max-width: 1180px) {
  .promotion__wrap .promotion__special {
    justify-content: space-around;
  }
}
@media (max-width: 1023px) {
  .promotion__wrap .promotion__special {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .promotion__wrap .promotion__special {
    justify-content: space-around;
    font-size: 12px;
    line-height: 27px;
    margin-left: 30px;
  }
}
@media (max-width: 650px) {
  .promotion__wrap .promotion__special {
    flex-direction: column;
    margin-left: 21%;
  }
}
.promotion__wrap .promotion__special li {
  position: relative;
}
@media (max-width: 1023px) {
  .promotion__wrap .promotion__special li {
    border-left: 5px solid #35ad49;
    padding: 2px 0 2px 5px;
  }
}
@media (max-width: 767px) {
  .promotion__wrap .promotion__special li {
    border: none;
  }
}
.promotion__wrap .promotion__special li i {
  position: absolute;
  font-size: 30px;
  color: #35ad49;
  top: -4px;
  left: -40px;
}
@media (max-width: 1420px) {
  .promotion__wrap .promotion__special li i {
    top: -8px;
  }
}
@media (max-width: 1023px) {
  .promotion__wrap .promotion__special li i {
    display: none;
  }
}
@media (max-width: 767px) {
  .promotion__wrap .promotion__special li i {
    display: block !important;
    position: absolute;
    font-size: 23px;
    color: #35ad49;
    top: 3px;
    left: -25px;
  }
}
.promotion__wrap .promotion__link {
  display: block;
  width: 170px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #7e1e7e;
  text-decoration: none;
  text-transform: uppercase;
  color: #7e1e7e;
  margin: 0 auto;
  text-align: center;
  background: none;
  transition: 0.3s;
}
.promotion__wrap .promotion__link:hover {
  background: #7e1e7e;
  color: #fff;
  transform: scale(1.06);
}

.order {
  position: relative;
  width: 100%;
  padding: 80px 0 40px;
  opacity: 1;
  z-index: 1;
}
.order::after {
  content: "";
  background: url("../img/order__img.jpeg") center/cover no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
@media (max-width: 767px) {
  .order {
    padding-top: 0;
  }
}
.order__wrap {
  max-width: 1100px;
  margin: 0 auto;
}
.order::after {
  content: "";
  background: url("../img/order__img.jpeg") center/cover no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: -50px;
  right: 0;
  position: absolute;
  z-index: -1;
}
.order__title {
  font-size: 36px;
  text-align: center;
  color: #7e1e7e;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .order__title {
    font-size: 20px;
    line-height: 27px;
  }
}
.order__timer {
  display: block;
  width: auto;
  padding: 3px 20px;
  margin: 0 auto 80px;
}
.order .order__check {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .order .order__check {
    flex-direction: column;
  }
}
.order__img {
  display: block;
  width: 70%;
  margin: 0 auto 25px;
}
@media (max-width: 767px) {
  .order__img {
    width: 25%;
  }
}
.order__former {
  font-size: 36px;
  text-align: center;
}
.order__new {
  text-align: center;
  font-family: sans-serif;
  font-size: 100px;
  font-weight: 900;
  fill: url(#grad);
  animation: pulse 1.5s infinite linear;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.order .order__checkout {
  justify-content: start;
}
.order .order__title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .order .order__title {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0;
  }
}
.order .order__form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.order__input {
  width: 330px;
  height: 50px;
  margin-bottom: 30px;
  padding-left: 15px;
  border: none;
  border-radius: 2px;
  box-shadow: 2px 3px 10px 4px rgba(34, 60, 80, 0.43);
}
@media (max-width: 767px) {
  .order__input {
    width: 260px;
  }
}
.order__input-phone {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .order__input-phone {
    margin-bottom: 40px;
  }
}
.order .tooltip {
  position: relative;
  display: inline-block;
}
@media (max-width: 767px) {
  .order .tooltip {
    width: 260px;
    margin: 0 auto;
  }
}
.order .tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #f9fad9;
  font-size: 12px;
  color: #222;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: -15px;
  right: 10px;
  z-index: 1;
}
.order .tooltip:hover .tooltiptext {
  visibility: visible;
}
@media (max-width: 767px) {
  .order {
    margin-bottom: 50px;
  }
}
.order__btn {
  display: block;
  width: 170px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #7e1e7e;
  text-decoration: none;
  text-transform: uppercase;
  color: #7e1e7e;
  margin: 0 auto;
  text-align: center;
  background: none;
  transition: 0.3s;
  cursor: pointer;
}
.order__btn:hover {
  background: #7e1e7e;
  color: #fff;
  transform: scale(1.06);
}

/*# sourceMappingURL=style.css.map */
